.toolbar-top {
    margin: 0 auto ;
}
.message-t {
    margin-left: 10% ;
    text-align: center ;
}

.outline {
    border :3px solid black ;
    width:80% ;
    margin-left:10% ;
    margin-top:20px ;
}
.inbox{
    padding-left: 5% ;
    width:52% ; 
    /* padding-right: 5% ; */
}

.button-m{
    margin:20px 20px 20px 20px;
}

