<ng-container *ngIf = "organization$ | async as organizations">
<!-- ng-container *ngrxLet = "organization$ ; let organizations" -->
    <app-bridge [inputdata]=organizations (outputEvent)="getCurrent($event)"></app-bridge>
    <mat-toolbar color="primary">
        <span class = "toolbar-top">部門詳細編集</span>
    </mat-toolbar>
    <div class="outline">
        <form [formGroup]="organizationForm"  novalidate>
            <!-- code -->
            <mat-form-field class="inbox">
                <input matInput placeholder="コード" formControlName="code" required>
            </mat-form-field>
            <!-- Name -->
            <mat-form-field class="inbox">
                <input matInput placeholder="名前" formControlName="name" required>
            </mat-form-field>
        </form>

        <div class="button-row">
            <button mat-raised-button (click)="onClose()" class="button-m">閉じる</button>
            <button mat-raised-button (click)="onUpdate()" class="button-m">更新</button>
            <button mat-raised-button (click)="onDelete()" class="button-m">削除</button>
        </div>              
    </div>
</ng-container>
    