<ng-container *ngIf = "branch$ | async as branches">
    <app-bridge [inputdata]=branches (outputEvent)="getCurrent($event)"></app-bridge>
    <mat-toolbar color="primary">
        <span class = "toolbar-top">事業所詳細編集</span>
    </mat-toolbar>
    <div class="outline">
        <form [formGroup]="branchForm">
            <!-- code -->
            <mat-form-field class="inbox">
                <input matInput placeholder="コード" formControlName="code" required>
            </mat-form-field>
            <!-- Name -->
            <mat-form-field class="inbox">
                <input matInput placeholder="名前" formControlName="name" required>
            </mat-form-field>
            <mat-form-field class="inbox">
                <input matInput placeholder="郵便番号" formControlName="zip">
            </mat-form-field>
            <mat-form-field class="inbox">
                <input matInput placeholder="都道府県" formControlName="prefecture">
            </mat-form-field>
            <mat-form-field class="inbox">
                <input matInput placeholder="区市町村郡" formControlName="city">
            </mat-form-field>
            <mat-form-field class="inbox">
                <input matInput placeholder="番地" formControlName="street">
            </mat-form-field>
            <mat-form-field class="inbox">
                <input matInput placeholder="建物" formControlName="building">
            </mat-form-field>
            <mat-form-field class="inbox">
                <input matInput placeholder="代表電話" type="tel" formControlName="phone" required>
            </mat-form-field>
            <mat-form-field class="inbox">
                <input matInput placeholder="代表FAX" type="tel" formControlName="fax">
            </mat-form-field>
    　　</form>
    　　<div class="button-row">
            <button mat-raised-button (click)="onClose()" class="button-m">閉じる</button>
            <button mat-raised-button (click)="onUpdate()"  class="button-m">更新</button>
            <button mat-raised-button (click)="onDelete()"  class="button-m">削除</button>
        　　　　　</div>       
　　　</div>
</ng-container>
