<ng-container *ngIf = "position$ | async as positions">
    <app-bridge [inputdata]=positions (outputEvent)="getCurrent($event)"></app-bridge>
    <mat-toolbar color="primary">
        <span class = "toolbar-top">役職追加</span>
    </mat-toolbar>
    <div class="outline">
        <form [formGroup]="positionForm"  novalidate>
            <!-- code -->
            <mat-form-field class="inbox">
                <input matInput placeholder="コード" formControlName="code" required>
            </mat-form-field>

            <!-- Name -->
            <mat-form-field class="inbox">
                <input matInput placeholder="名前" formControlName="name" required>
            </mat-form-field>
        </form>

        <div class="button-row">
            <button mat-raised-button (click)="onClose()" class="button-m">閉じる</button>
            <button mat-raised-button (click)="onCreate()" class="button-m">作成</button>
        </div>       
    </div>
</ng-container>
