<ng-container *ngIf = "branch$ | async as branches">
    <app-bridge [inputdata]=branches (outputEvent)="getCurrent($event)"></app-bridge>
    <mat-toolbar color="primary">
        <span class = "toolbar-top">事業所詳細編集</span>
    </mat-toolbar>
    <div class="outline">
        <form [formGroup]="branchForm">
            <!-- code -->
            <mat-form-field>
                <input matInput placeholder="コード" formControlName="code" #code>
                <ng-container *ngIf=" code.invalid && (code.dirty || code.touched)">
                    <p *ngIf="code.errors.required">
                        Code is required.
                    </p>
                </ng-container>
            </mat-form-field>
            <!-- Name -->
            <mat-form-field>
                <input matInput placeholder="名前" formControlName="name" #name>
                <ng-container *ngIf=" name.invalid && (name.dirty || name.touched)" >
                    <p *ngIf="name.errors.required">
                        Name is required.
                    </p>
                </ng-container>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="郵便番号" formControlName="zip">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="都道府県" formControlName="prefecture">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="区市町村郡" formControlName="city">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="番地" formControlName="street">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="建物" formControlName="building">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="代表電話" type="tel" formControlName="phone">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="代表FAX" type="tel" formControlName="fax">
            </mat-form-field>
    　　</form>
    　　<div class="button-row">
            <button mat-raised-button (click)="onCancel()" class="button-m">キャンセル</button>
            <button mat-raised-button (click)="onSave()"  class="button-m">保存</button>
            <button mat-raised-button (click)="onDelete()"  class="button-m">削除</button>
        　　　　　</div>       
　　　</div>
</ng-container>
